ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
DEPLOYER_PRIVATE_KEY=replace_with_private_key_without_0x
PORT=8787
API_KEY=replace_with_strong_random_api_key
SUBMISSION_WEB_URL=
SUBMISSION_API_URL=
SUBMISSION_DEMO_URL=
SUBMISSION_REPO_URL=
SUBMISSION_POLICY_MANAGER_ADDRESS=
SUBMISSION_EXECUTION_GUARD_ADDRESS=
SUBMISSION_POLICY_MANAGER_TX=
SUBMISSION_EXECUTION_GUARD_TX=
SUBMISSION_NETWORK=Arbitrum Sepolia
SUBMISSION_EXPLORER_BASE_URL=https://sepolia.arbiscan.io/tx/
