ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
DEPLOYER_PRIVATE_KEY=replace_with_private_key_without_0x
OPERATOR_PRIVATE_KEY=
PORT=8787
API_KEY=replace_with_strong_random_api_key
SUBMISSION_CHAIN_ID=421614
SUBMISSION_WEB_URL=https://arb-guardian.vercel.app
SUBMISSION_API_URL=
SUBMISSION_DEMO_URL=
SUBMISSION_REPO_URL=https://github.com/thesithunyein/arb-guardian
SUBMISSION_POLICY_MANAGER_ADDRESS=
SUBMISSION_EXECUTION_GUARD_ADDRESS=
SUBMISSION_SAFE_TREASURY_GUARD_ADDRESS=
SUBMISSION_TREASURY_SAFE_ADDRESS=
SUBMISSION_POLICY_MANAGER_TX=
SUBMISSION_EXECUTION_GUARD_TX=
SUBMISSION_SAFE_TREASURY_GUARD_TX=
SUBMISSION_TREASURY_SAFE_TX=
SUBMISSION_SAFE_ENROLLMENT_TX=
SUBMISSION_SAFE_SET_GUARD_TX=
SUBMISSION_SAFE_ALLOWED_EXEC_TX=
SUBMISSION_NETWORK=Arbitrum Sepolia
SUBMISSION_EXPLORER_BASE_URL=https://sepolia.arbiscan.io/tx/
